
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
  
  <mat-card>
    <img src="assets/person.png" >
    <h2><b>Nadeera Rajapaksha</b></h2>
    <p><b>nadeerara94@gmail.com</b></p>
 
  </mat-card>
    
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/past_appointment">Past Appointment</a>
      </mat-list-option>

      <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/speciality_list">Speciality List</a>
      </mat-list-option>

      <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/doctor_list">Doctor List</a>
      </mat-list-option>

      <mat-list-option >
        <a (click)="drawer.toggle()" routerLink="/hospital_list">Hospital List</a>
      </mat-list-option>

      <mat-list-option >
        <a routerLink="/logout">Logout</a>
      </mat-list-option>
    </mat-selection-list>




  </mat-drawer>

  <p>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DOC 98</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  

  


  <router-outlet>




  </router-outlet>

</mat-drawer-container>





















